# Final Project
## 12-752: Data-Driven Building Energy Management
## Fall 2016, Carnegie Mellon University

In [35]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import types
import datetime

%matplotlib inline

In [41]:
# get the initial occupancy dataframe with each room in one of occupied room and occupied room2

occupancy_file = open('dataset-dred/Occupancy_data.csv','rb')
occupancy = pd.read_csv(occupancy_file, header='infer')
occupancy['Time'] = pd.to_datetime(occupancy['Time'], format="%Y-%m-%d %H:%M:%S")
occupancy = occupancy.drop_duplicates()
occupancy['Occupied Room'] = occupancy['Occupied Room'].apply(lambda x: x.split('[')[1].split(']')[0])
occupancy['Occupied Room'] = occupancy['Occupied Room'].apply(lambda x: x.split('\''))
occupancy['Occupied Room'] = occupancy['Occupied Room'].apply(lambda x: x if(len(x)>3) else x[1])
occupancy['Occupied Room2'] = occupancy['Occupied Room'].apply(lambda x: x[-2] if(isinstance(x, list)) else np.NaN)
occupancy['Occupied Room'] = occupancy['Occupied Room'].apply(lambda x: x[1] if(isinstance(x, list)) else x)
occupancy.head()

                 Time Occupied Room Occupied Room2
0 2015-07-05 00:00:03       Kitchen            NaN
1 2015-07-05 00:00:07    LivingRoom            NaN
2 2015-07-05 00:00:08     StoreRoom          Room2
3 2015-07-05 00:00:09    LivingRoom            NaN
4 2015-07-05 00:00:10    LivingRoom            NaN

In [43]:
# create a new dummy DataFrame. index = each second from start of occupancy to end of occupancy.
# columns in the dataframe are the different rooms. For now all values are 0.

rooms = ['Kitchen', 'LivingRoom', 'StoreRoom', 'Room1', 'Room2']
# rooms
idx = occupancy.index
st = occupancy['Time'][idx[0]]
et = occupancy['Time'][idx[-1]]
new_idx = pd.date_range(start=st, end=et, freq='S')
room_occ = pd.DataFrame(columns=rooms, index=new_idx)
room_occ = room_occ.fillna(0)
room_occ.head()

                     Kitchen  LivingRoom  StoreRoom  Room1  Room2
2015-07-05 00:00:03        0           0          0      0      0
2015-07-05 00:00:04        0           0          0      0      0
2015-07-05 00:00:05        0           0          0      0      0
2015-07-05 00:00:06        0           0          0      0      0
2015-07-05 00:00:07        0           0          0      0      0

In [44]:
# In the dataFrame created above, if value at a Time for a room is 1, it means that the room was occupied 
# at that moment. These values are set by using occupancy dataframe.

idx = occupancy.index
k = 0
for i in idx:
    timestamp, r1, r2 = occupancy[occupancy.index == i].values[0]
    room_index1 = rooms.index(r1)
    room_occ.set_value(timestamp, rooms[room_index1],1)
    if (pd.isnull(r2) == False):
        room_index2 = rooms.index(r2)
        room_occ.set_value(timestamp, rooms[room_index2],1)
room_occ.head()

                     Kitchen  LivingRoom  StoreRoom  Room1  Room2
2015-07-05 00:00:03        1           0          0      0      0
2015-07-05 00:00:04        0           0          0      0      0
2015-07-05 00:00:05        0           0          0      0      0
2015-07-05 00:00:06        0           0          0      0      0
2015-07-05 00:00:07        0           1          0      0      0

In [46]:
# Open All_data.csv, put it a DataFrame and set time as Index

alldata_file = open('dataset-dred/All_data.csv','rb')
alldata = pd.read_csv(alldata_file, header='infer', parse_dates=[1])
alldata['Time'] = alldata['Time'].str.split(pat='+').str[0]
alldata['Time'] = pd.to_datetime(alldata['Time'])
alldata = alldata.set_index('Time')
alldata['mains'] = alldata['mains'].astype(float)
power_data = alldata.resample('1S').mean()
power_data = power_data.fillna(0)
power_data

,mains,television,fan,fridge,laptop computer,electric heating element,oven,unknown,washing machine,microwave,toaster,sockets,cooker
Time,,,,,,,,,,,,,
2015-07-05 00:00:00,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0,0.00,0.0
2015-07-05 00:00:01,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0,0.00,0.0
2015-07-05 00:00:02,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0,0.00,0.0
2015-07-05 00:00:03,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0,0.00,0.0
2015-07-05 00:00:04,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0,0.00,0.0
2015-07-05 00:00:05,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0,0.00,0.0
2015-07-05 00:00:06,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0,0.00,0.0
2015-07-05 00:00:07,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:08,223.0,0.0,0.00,99.210000,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:09,223.6,0.0,0.00,99.179070,28.340000,0.000000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:10,224.2,0.0,0.00,99.148140,28.378095,0.000000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:11,224.8,0.0,0.00,99.117209,28.416190,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:12,225.4,0.0,0.00,99.086279,28.454286,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:13,226.0,0.0,0.00,99.055349,28.492381,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:14,226.6,0.0,0.00,99.024419,28.530476,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:15,227.2,0.0,0.00,98.993488,28.568571,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:16,227.8,0.0,0.00,98.962558,28.606667,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:17,228.4,0.0,0.00,98.931628,28.644762,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:18,229.0,0.0,0.00,98.900698,28.682857,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:19,226.1,0.0,0.00,98.869767,28.720952,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:20,223.2,0.0,0.00,98.838837,28.759048,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:21,220.3,0.0,0.00,98.807907,28.797143,2.290000,0.0,0.0,0.00,0.00,0.0,7.35,0.0
2015-07-05 00:00:22,217.4,0.0,29.65,98.776977,28.835238,2.290000,0.0,0.0,0.00,1.24,0.0,7.35,0.0
2015-07-05 00:00:23,214.5,0.0,29.65,98.746047,28.873333,2.290000,0.0,0.0,0.00,1.24,0.0,7.35,0.0
2015-07-05 00:00:24,211.6,0.0,29.65,98.715116,28.911429,2.290000,0.0,0.0,0.00,1.24,0.0,7.35,0.0
2015-07-05 00:00:25,208.7,0.0,29.65,98.684186,28.949524,2.290000,0.0,0.0,0.00,1.24,0.0,7.35,0.0
2015-07-05 00:00:26,205.8,0.0,29.65,98.653256,28.987619,2.290000,0.0,0.0,0.68,1.24,0.0,7.35,0.0
2015-07-05 00:00:27,202.9,0.0,29.65,98.622326,29.025714,2.290000,0.0,0.0,0.68,1.24,0.0,7.35,0.0
2015-07-05 00:00:28,200.0,0.0,29.65,98.591395,29.063810,2.290000,0.0,0.0,0.68,1.24,0.0,7.35,0.0
2015-07-05 00:00:29,199.9,0.0,29.65,98.560465,29.101905,2.290000,0.0,0.0,0.68,1.24,0.0,7.35,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-05 22:59:29,0.0,0.0,0.00,0.000000,0.000000,69.282899,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:30,0.0,0.0,0.00,0.000000,0.000000,69.244493,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:31,0.0,0.0,0.00,0.000000,0.000000,69.206087,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:32,0.0,0.0,0.00,0.000000,0.000000,69.167681,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:33,0.0,0.0,0.00,0.000000,0.000000,69.129275,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:34,0.0,0.0,0.00,0.000000,0.000000,69.090870,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:35,0.0,0.0,0.00,0.000000,0.000000,69.052464,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:36,0.0,0.0,0.00,0.000000,0.000000,69.014058,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:37,0.0,0.0,0.00,0.000000,0.000000,68.975652,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:38,0.0,0.0,0.00,0.000000,0.000000,68.937246,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:39,0.0,0.0,0.00,0.000000,0.000000,68.898841,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:40,0.0,0.0,0.00,0.000000,0.000000,68.860435,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:41,0.0,0.0,0.00,0.000000,0.000000,68.822029,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:42,0.0,0.0,0.00,0.000000,0.000000,68.783623,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:43,0.0,0.0,0.00,0.000000,0.000000,68.745217,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:44,0.0,0.0,0.00,0.000000,0.000000,68.706812,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:45,0.0,0.0,0.00,0.000000,0.000000,68.668406,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:46,0.0,0.0,0.00,0.000000,0.000000,68.630000,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:47,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:48,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:49,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:50,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:51,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:52,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:53,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:54,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.95,1.24,0.0,1.39,0.0
2015-12-05 22:59:55,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,1.24,0.0,1.39,0.0
2015-12-05 22:59:56,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,1.24,0.0,1.39,0.0
2015-12-05 22:59:57,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,1.24,0.0,1.39,0.0
2015-12-05 22:59:58,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.0,0.0,0.00,1.24,0.0,1.39,0.0

In [47]:
alldata = pd.merge(power_data, room_occ, left_index=True, right_index=True)
alldata

,mains,television,fan,fridge,laptop computer,electric heating element,oven,unknown,washing machine,microwave,toaster,sockets,cooker,Kitchen,LivingRoom,StoreRoom,Room1,Room2
2015-07-05 00:00:03,0.0,0.0,0.00,0.000000,0.000000,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,1,0,0,0,0
2015-07-05 00:00:04,0.0,0.0,0.00,0.000000,0.000000,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0,0,0,0,0
2015-07-05 00:00:05,0.0,0.0,0.00,0.000000,0.000000,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0,0,0,0,0
2015-07-05 00:00:06,0.0,0.0,0.00,0.000000,0.000000,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0,0,0,0,0
2015-07-05 00:00:07,0.0,0.0,0.00,0.000000,0.000000,0.00,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,1,0,0,0
2015-07-05 00:00:08,223.0,0.0,0.00,99.210000,0.000000,0.00,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,1,0,1
2015-07-05 00:00:09,223.6,0.0,0.00,99.179070,28.340000,0.00,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,1,0,0,0
2015-07-05 00:00:10,224.2,0.0,0.00,99.148140,28.378095,0.00,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,1,0,0,0
2015-07-05 00:00:11,224.8,0.0,0.00,99.117209,28.416190,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,1,0,0,0,0
2015-07-05 00:00:12,225.4,0.0,0.00,99.086279,28.454286,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:13,226.0,0.0,0.00,99.055349,28.492381,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:14,226.6,0.0,0.00,99.024419,28.530476,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:15,227.2,0.0,0.00,98.993488,28.568571,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:16,227.8,0.0,0.00,98.962558,28.606667,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:17,228.4,0.0,0.00,98.931628,28.644762,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:18,229.0,0.0,0.00,98.900698,28.682857,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:19,226.1,0.0,0.00,98.869767,28.720952,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:20,223.2,0.0,0.00,98.838837,28.759048,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:21,220.3,0.0,0.00,98.807907,28.797143,2.29,0.0,0.0,0.00,0.00,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:22,217.4,0.0,29.65,98.776977,28.835238,2.29,0.0,0.0,0.00,1.24,0.0,7.35,0.0,0,0,1,1,0
2015-07-05 00:00:23,214.5,0.0,29.65,98.746047,28.873333,2.29,0.0,0.0,0.00,1.24,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:24,211.6,0.0,29.65,98.715116,28.911429,2.29,0.0,0.0,0.00,1.24,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:25,208.7,0.0,29.65,98.684186,28.949524,2.29,0.0,0.0,0.00,1.24,0.0,7.35,0.0,1,0,0,0,0
2015-07-05 00:00:26,205.8,0.0,29.65,98.653256,28.987619,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0,1,0,0,0,0
2015-07-05 00:00:27,202.9,0.0,29.65,98.622326,29.025714,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:28,200.0,0.0,29.65,98.591395,29.063810,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:29,199.9,0.0,29.65,98.560465,29.101905,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:30,199.8,0.0,29.65,98.529535,29.140000,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:31,199.7,0.0,29.65,98.498605,29.178095,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0,0,0,0,0,0
2015-07-05 00:00:32,199.6,0.0,29.65,98.467674,29.216190,2.29,0.0,0.0,0.68,1.24,0.0,7.35,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-05 21:54:46,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:47,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:48,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:49,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:50,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:51,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:52,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:53,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:54,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:55,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:56,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:57,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:58,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:54:59,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:00,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:01,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:02,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:03,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:04,0.0,0.0,0.00,0.000000,17.400000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:05,0.0,0.0,0.00,0.000000,16.675000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:06,0.0,0.0,0.00,0.000000,15.950000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:07,0.0,0.0,0.00,0.000000,15.225000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:08,0.0,0.0,0.00,0.000000,14.500000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:09,0.0,0.0,0.00,0.000000,13.775000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:10,0.0,0.0,0.00,0.000000,13.050000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:11,0.0,0.0,0.00,0.000000,12.325000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:12,0.0,0.0,0.00,0.000000,11.600000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:13,0.0,0.0,0.00,0.000000,10.875000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:14,0.0,0.0,0.00,0.000000,10.150000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,0,0,0,0
2015-12-05 21:55:15,0.0,0.0,0.00,0.000000,9.425000,2.55,0.0,0.0,0.95,1.24,0.0,1.39,0.0,0,1,0,0,0